body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.emptyMsg{
  display: none;
}


div{
  text-align: center;
}


.header{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.772);
  color: rgb(53, 165, 202);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  letter-spacing: 2px;
}


ul,.content{
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 30px;
  padding: 0px;
}


.footer{
  width: 100%;
  height: 10vh;
  background-color: rgb(53, 165, 202);
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.deleteIcon{
  width: 40px;
  height: 30px;
  opacity: 0.6;
}

.deleteIcon:hover{
  opacity: 1;
}